# netauto-repo/ansible.cfg
[defaults]
host_key_checking = False
# How long (in seconds) Ansible waits for an initial SSH connection to establish
timeout = 60
deprecation_warnings = False
result_format = yaml
#stdout_callback = yaml
#stdout_callback = community.general.yaml
display_skipped_hosts = False
display_ok_hosts = True
callbacks_enabled = profile_tasks
show_task_path_on_failure = False


[persistent_connection]
# How long (in seconds) the persistent connection waits for a command to finish executing
command_timeout = 180

# How long Ansible waits to establish the initial persistent socket handshake
connect_timeout = 60

# How many seconds to wait before retrying a failed persistent connection attempt
connect_retry_timeout = 60
